.section {
  color: $color-grey-dark-2;
  text-align: center;

  &__title {
    text-transform: uppercase;
    font-family: $font-family-1;
    font-size: 2*$default-font-size;
    margin-bottom: $default-font-size;
  }

  &__sub-title {
    font-size: 1.1*$default-font-size;
  }
}