#portfolio {
  margin: 3*$default-font-size  1*$default-font-size ;
  .portfolio {
    &__img {
      img {
        transition: all .8s ease-in-out;

        &:hover {
          transform: scale(1.2) rotate(-5deg);
        }
      }
    }
  }
}
