#service {
  margin-top: 2*$default-font-size;
  margin-bottom: 2*$default-font-size;

  .row {
    margin-top: 3*$default-font-size;
    margin-bottom: 3*$default-font-size;
  }

  position: relative;

  .card {
    .card__icon {
      font-size: 3*$default-font-size;
      //background-color: $blue-600;
      background-color: rgb(2, 143, 204);
      color: white;
      width: 40%;
      margin: 0 auto 1.5*$default-font-size;
      padding: 1.5*$default-font-size;
      border-radius: .2*$default-font-size;
      transition: all .3s ease-in-out;

      &:hover {
        background-color: $gray-700;
      }
    }

    border-radius: 0;
  }

  .card-title {
    font-weight: 500;
    font-size: 1.5*$default-font-size;
    text-transform: capitalize;
  }

  .card-text {
    text-align: justify;
    padding: 1*$default-font-size;
  }
}